*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  font-family: var(--font-main);
  font-size: var(--fs2);
  background: var(--c-bg);
  width: 100vw;
  height: 100vh;
}

p,
button,
span,
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-main);
  -webkit-user-drag: none;
  user-select: none;
  text-decoration: none;
  color: var(--c-font);
  line-height: 1.6;
  letter-spacing: -0.05rem;
}
button {
  border: none;
  background: none;
}
.new-article-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.alarm-title {
  font-size: var(--fs5);
}
.txt-point {
  color: var(--c-main);
  font-weight: 800;
}
.tab-box {
  padding-top: 1rem;
  display: flex;
  gap: 0.6rem;
}
.tab-btn {
  border: 1px solid var(--c-gray2);
  padding: 0.4rem 1.2rem;
  border-radius: 50px;
  color: var(--c-gray3);
  background: var(--c-gray);
  font-weight: 800;
}

.tab-btn.active {
  background: var(--c-main);
  color: var(--c-font);
}

/* 카드 */
.new-article-list {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.new-article {
  border-radius: 10px;
  background: var(--c-gray);
}
.new-article-img {
  width: 100%;
  aspect-ratio: 1/0.5;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.new-article-txt {
  padding: 0.8rem 1rem 1rem 1rem;
}

.new-article-title {
  font-size: var(--fs3);
  margin-bottom: 0.2rem;
}
.article-data {
  display: flex;
}
.article-data > p {
  color: var(--c-gray3);
}
.category {
  position: relative;
}
.category::after {
  content: "│";
  color: var(--c-gray3);
}
