@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@latest/nanumsquare.css");

:root {
  /* Font */
  --font-main: "NanumSquare", sans-serif;

  /* Font size (rem) */
  --fs1: 0.8rem; /* 10px */
  --fs2: 0.9375rem; /* 12px */
  --fs3: 1.125rem; /* 14px */
  --fs4: 1.3125rem; /* 16px */
  --fs5: 1.5rem; /* 18px */

  /* Colors */
  --c-bg: #0b0b0b;
  --c-font: #faf5f5;
  --c-main: #8670ff;
  --c-main2: #c4b9ff;
  --c-point: #49e99c;
  --c-gray: #252426;
  --c-gray2: #6f6c76;
  --c-gray3: #8e8e9f;
  --c-danger: #f66060;

  /* Gradient */
  --c-main-gradient: linear-gradient(
    135deg,
    var(--c-main) 0%,
    var(--c-main2) 100%
  );

  /* RGB (rgba용) */
  --c-bg-rgb: 11, 11, 11;
  --c-font-rgb: 250, 245, 245;
  --c-main-rgb: 134, 112, 255;
  --c-main2-rgb: 196, 185, 255;
  --c-point-rgb: 73, 233, 156;
  --c-gray-rgb: 37, 36, 38;
  --c-gray2-rgb: 111, 108, 118;
  --c-gray3-rgb: 142, 142, 159;
  --c-danger-rgb: 246, 96, 96;

  /* Alpha */
  --c-point-50: rgba(73, 233, 156, 0.5);
  --c-main-50: rgba(134, 112, 255, 0.5);

  /* Gradients */
  --gr-ra-pur-dark: linear-gradient(circle, #8670ff 0%, #0b0b0b 100%);
  --gr-li-gray: linear-gradient(
    180deg,
    rgba(37, 36, 38, 0.3) 0%,
    rgba(111, 108, 118, 0.3) 100%
  );
  --gr-li-purple: linear-gradient(0deg, #504399 0%, #8670ff 50%);

  /* Shadows (box-shadow/text-shadow) */
  --shadow80: 0 0 3px rgba(11, 11, 11, 0.8);
  --shadow50: 0 0 3px rgba(11, 11, 11, 0.5);

  /* drop-shadow 예: filter: drop-shadow(var(--shadow50)); */
}
