/* 검색창 */
.search-f {
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 70px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  background: var(--c-gray);
}

.search-box {
  width: 100%;
  margin: 0 auto;
  padding: 6px 6px 6px 0;
  display: flex;
  gap: 8px;
}

.search-btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: var(--c-gray2);
}

.search-btn img {
  width: 14px;
  height: 14px;
}

.search-in {
  width: 90%;
  padding-left: 1rem;
  border: none;
  border-radius: 50px;
  background: transparent;
  font-family: var(--font-main);
  font-size: var(--fs2);
}

.search-in::placeholder {
  color: var(--c-gray2);
}

.search-in:focus {
  outline: none;
}

input[type="search"] {
  color: var(--c-font);
  font-weight: 600;
}

/*  = 검색 결과/히스토리 = */
.search-section-box {
  width: 90%;
  margin: 0 auto;
  padding-top: 95px;
}

.search-section-box.hot-search {
  padding-top: 2rem;
  margin-bottom: 8rem;
}

.user-output-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.user-output-title {
  font-size: var(--fs3);
  font-weight: 800;
}

.user-output-delete {
  color: var(--c-danger);
}

.user-output-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.8rem;
}

.user-output-item {
  display: flex;
  padding: 0.4rem 1rem;
  border-radius: 50px;
  background: var(--c-gray);
}

.user-output-text {
  display: flex;
  align-items: center;
  font-size: var(--fs2);
  line-height: 1.5;
  font-weight: 600;
  color: var(--c-gray2);
}

.user-output-remove-img {
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

/*  추천 섹션  */
.a_recommend_section {
  width: 90%;
  margin: 3rem auto 0;
}

.a_recommend_title {
  font-size: var(--fs3);
  font-weight: 800;
  color: var(--c-font);
}

.a_recommend_cards_container {
  width: 100%;
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.card {
  height: 8rem;
  padding: 0 10px;
  border-radius: 15px;
  background-color: var(--c-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.a_recommend_cardgem_finder {
  grid-column: span 2;
  height: 8rem;
  justify-content: center;
}

.a_card_icon_wrap {
  width: 45px;
  height: 45px;
  flex: 0 0 auto;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.a_card_icon_wrap.img-size {
  width: 60px;
}

.a_card_icon_wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.a_recommend_cards_container p {
  margin: 0;
  display: block;
  flex-grow: 0;
  font-size: var(--fs2);
  line-height: 1.6;
  font-weight: 600;
  color: var(--c-font);
}

/*  가장 많이 검색된 작품  */
.hot-search-container {
  width: 100%;
}

.hot-search-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.hot-search-item {
  flex: 0 0 calc((100% - 2rem) / 3);
}

.hot-search-poster {
  width: 100%;
  aspect-ratio: 3/4;
  border-radius: 15px;
}
