/* ============= 검색창 ============= */
.search-f {
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 70px;
  height: 40px;
  border-radius: 50px;
  background: var(--c-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box {
  width: 100%;
  margin: 0 auto;
  padding: 6px 6px 6px 0;
  display: flex;
  gap: 8px;
}

.search-btn {
  cursor: pointer;
  background: var(--c-gray2);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.search-btn img {
  height: 14px;
  width: 14px;
}

.search-in {
  border: none;
  width: 90%;
  font-size: var(--fs2);
  background: transparent;
  padding-left: 1rem;
  border-radius: 50px;
  font-family: var(--font-main);
}
.search-in::placeholder {
  color: var(--c-gray2);
}
.search-in:focus {
  outline: none;
}
input[type="search"] {
  color: var(--c-font);
  font-weight: 600;
}

.search-section-box {
  padding-top: 95px;
  width: 90%;
  margin: 0 auto;
}
.search-section-box.hot-search {
  padding-top: 2rem;
  margin-bottom: 8rem;
}
.user-output-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.user-output-title {
  font-size: var(--fs3);
  font-weight: 800;
}
.user-output-delete {
  color: var(--c-danger);
}
.user-output-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.8rem;
}
.user-output-item {
  display: flex;
  background: var(--c-gray);
  padding: 0.4rem 1rem;
  border-radius: 50px;
}
.user-output-text {
  font-size: var(--fs2);
  line-height: 1.5;
  color: var(--c-gray2);
  display: flex;
  align-items: center;
  font-weight: 600;
}
.user-output-remove-img {
  margin-left: 5px;
  width: 10px;
  height: 10px;
}

/* 여진님이 작업하신 css */
/* 자.만.추 섹션 */
.a_recommend_section {
  width: 90%;
  margin: 3rem auto 0;
}

/* 자.만.추 제목 */
.a_recommend_title {
  color: var(--c-font);
  font-size: var(--fs3);
  font-weight: 800;
}

/* 자.만.추 실제 영역 (grid) */
.a_recommend_cards_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1.5rem;
}

/* 자.만.추 공통 적용 */
.card {
  background-color: var(--c-gray);
  border-radius: 15px;
  padding: 0 10px;
  height: 8rem;

  /* Flexbox 설정: 아이콘 + 텍스트 블록 가운데 배치 */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

/* 보석 찾기 영역 설정 (세 번째 아이템) */
.a_recommend_cardgem_finder {
  grid-column: span 2;
  height: 8rem;
  justify-content: center;
}

/* 게임 영역 틀 */
.a_card_icon_wrap {
  border-radius: 15px;
  width: 45px;
  height: 45px;
  /* 아이콘 틀 크기 고정 및 축소 방지 */
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 아이콘 이미지 */
.a_card_icon_wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.a_card_icon_wrap.img-size {
  width: 60px;
}

/* 카드 내부 텍스트 */
.a_recommend_cards_container p {
  color: var(--c-font);
  font-size: var(--fs2);
  margin: 0;
  flex-grow: 0;
  line-height: 1.6;
  font-weight: 600;
  display: block;
}

/* 가장 많이 검색된 작품 */
.hot-search-container {
  width: 100%;
}
.hot-search-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.hot-search-item {
  flex: 0 0 calc((100% - 2rem) / 3);
}
.hot-search-poster {
  width: 100%;
  aspect-ratio: 3/4;
  border-radius: 15px;
}
